/* Reset some default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Ensure body takes full height */
    font-family: Arial, sans-serif; /* Set a default font */
    background-color: #f0f0f0; /* Light gray background */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

.App-header {
  background-color: #80acaa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  min-height: 100vh;
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px; /* Adjust height as needed */
  z-index: 1; /* Ensures it's behind the text */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px; /* Optional: Add some padding for layout */
}


.header-bar2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 83.4%;
  height: 105px; /* Adjust height as needed */
  z-index: 1; /* Ensures it's behind the text */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px; /* Optional: Add some padding for layout */
  left: 16.6%; /* Start it at 50% of the container width */
}

.study-mode-container {
  display: flex;
  flex-direction: row;
  
}

.background-content {
  background-image: url('./resources/Assets/Turquoise_hat.webp');
  width: 100%;
  height: 100%;
}


.title {
  font-size: 88px;
  color: white;
  margin: 0;
  z-index: 2; /* Ensures it's above the background */
  position: absolute;
}

.title2 {
  font-size: 48px;
  color: white;
  margin: 0;
  z-index: 2; /* Ensures it's above the background */
  position: absolute; /* Positioning will be based on the container */
  left: 50%; /* Start it at 50% of the container width */
  transform: translateX(-50%); /* Center it horizontally by shifting it left by 50% of its own width */
}

.title3 {
  font-size: 88px;
  color: white;
  margin: 0;
  z-index: 2; /* Ensures it's above the background */
  position: absolute;
}

.friends-button {
  font-size: 30px;
  color: white;
  margin: 0;
  z-index: 2; /* Ensures it's above the background */
  position: absolute; /* Positioning will be based on the container */
  left: 75%; /* Start it at 50% of the container width */
  transform: translateX(-50%); /* Center it horizontally by shifting it left by 50% of its own width */
  height: 50%;
  width: 8%;
  border-radius: 10px;
}

.profile-button {
  font-size: 30px;
  color: white;
  margin: 0;
  z-index: 2; /* Ensures it's above the background */
  position: absolute; /* Positioning will be based on the container */
  left: 85%; /* Start it at 50% of the container width */
  transform: translateX(-50%); /* Center it horizontally by shifting it left by 50% of its own width */
  height: 50%;
  width: 8%;
  border-radius: 10px;
}


.logout-button {
  font-size: 30px;
  color: white;
  margin: 0;
  z-index: 2; /* Ensures it's above the background */
  position: absolute; /* Positioning will be based on the container */
  left: 95%; /* Start it at 50% of the container width */
  transform: translateX(-50%); /* Center it horizontally by shifting it left by 50% of its own width */
  height: 50%;
  width: 8%;
  border-radius: 10px;
}
.sets-container {
  background-image: url('./resources/Assets/Crazy\ BackGround.jpg');
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-top: 90px;
  width: 100%;
  padding: 15px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.set-item-container {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;

}

.set-item {
  color: black;
  border-radius: 8px;
  flex: 1;
  margin: 10px 0;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
}


.edit-card-item-container {
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-top: 1px;
  width: 100%;
  padding: 15px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.edit-card-item-container2 {
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  position: relative;
  flex: 1;
  flex-grow: 1;
}
.edit-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
}

.edit-icon-button {
  position: absolute;
  border-radius: 8px;
  right: 30px;
  top: 40%;
  width: 80px;
  transition: transform 0.2s ease;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.delete-icon-button {
  width: 80px;
  height: 40px;
  position: absolute;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  right: 10px;
  top: 40%;
  cursor: pointer;
  border-radius: 8px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    max-height: 50%;
    width: 90%;
    height: 50%;
    text-align: center;
}
.popup-content2 {
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    max-height: 50%;
    width: 90%;
    height: 50%;
    text-align: center;
    overflow-y: auto;
}

.popup-button {
  padding: 10px;
  flex: 1;
  height: 50%;
  border-radius: 10px;
  font-size: large;
}
.popup-button2 {
  font-size: large;
  padding: 10px;
  flex: 1;
  height: 100%;
  border-radius: 10px;
}

.popup-button-container {
  display: flex;
  gap: 10px;
  height: 40%;
  padding-bottom: 20px;
}

.edit-card-popup-button {
  padding: 10px;
  flex: 1;
  margin-top: 40px;
  height: 20%;
  border-radius: 10px;
  width: 64.5%;
}
                        

.matchingGame {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
    justify-content: center;
    max-width: 800px;
    padding-left: 50px;
    margin-left: 20px; /* Adjust this value to offset right */
    margin-right: auto;
}

.matchingGameContainer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-right: 100px;
}

.index-card-content {
    position: relative;
    overflow: hidden;
    height: 75%; /* Adjust height as needed */
    max-width: 1500px;
    width: 100%; /* Adjust width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; /* Text color for visibility on the GIF */
    font-size: 40px; /* Adjust font size as needed */
    cursor: pointer;
    word-wrap: break-word; /* Ensure long words wrap properly */
    overflow-wrap: break-word; /* Another property to help with word wrapping */
    text-align: center;
    box-sizing: border-box; 
}

.left-button, .right-button {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 10%; /* Set a width */
  height: 16.25%; /* Set a height */
}

.left-button {
  background-image: url('./resources/Assets/Left_Button-modified.png');
}

.right-button {
  background-image: url('./resources/Assets/Right Button-modified.png');
}

* {
  font-family: "Smythe", serif;
  font-weight: 800;
  font-style: normal;
}

.index-card-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./resources/Assets/gears.gif'); /* Use your GIF path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5%;
    z-index: 0; /* Ensure it stays above the background but below the text */
}

.cardContent {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.card-text {
    z-index: 2; /* Ensure the text is on top */
    text-align: center;
    height: 100%; /* Adjust height as needed */
    width: 100%; /* Adjust width as needed */
    padding-left: 0px; /* Add padding to the left */
    padding-right: 0px; /* Add padding to the right */
    padding-top: 0px; /* Optional: adjust top padding */
    padding-bottom: 0px; /* Optional: adjust bottom padding */
    word-wrap: break-word; /* Ensure long words break and wrap to the next line */
    overflow-wrap: break-word; /* Ensure wrapping for long words */
    box-sizing: border-box;
}


.cardMatch {
    width: 330px;
    height: 192px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    background-size: cover;
    background-position: center;
    margin: 5px; /* Control space around the card */
    font-size: 20px; 
}

.image-content {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the button area */
    display: block;
}


.cardMatch2 {
    padding: 10px; /* Adjust padding for desired space inside each card */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* For better readability on the image background */
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    aspect-ratio: 2 / 3; /* Maintains a 2:3 aspect ratio */
}

.cardMatch:hover {
    transform: scale(1.05);
}
.edit-icon-button:hover {
  transform: scale(1.15);
} 
.delete-icon-button:hover {
  transform: scale(1.15);
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
